<div class="container">
    <form class="border edit-product">
        <h4>Create a New Product</h4>

        <div class="form-group">
            <label for="name">Title Name:</label>
            <p class="errorMsg" *ngIf="addProduct.title.length < 3">Title must be at least 3 characters long!</p>
            <input type="text" name="title" [(ngModel)]="addProduct.title" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="name">Price:</label>
            <p class="errorMsg" *ngIf="addProduct.price <= 0">Item cannot be free! Enter a valid amount!</p>
            <input type="number" name="price" [(ngModel)]="addProduct.price" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="image-url">Image URL:</label>
            <input type="url" name="url" [(ngModel)]="addProduct.url" class="form-control" id="url" placeholder="https://">
        </div>

        <div class="form-group clearfix">
            <button class="btn btn-danger float-right" (click)="onSubmit()" [disabled]="addProduct.title.length < 3 || addProduct.price <= 0">Create Product</button>
            <button class="btn btn-primary float-right" [routerLink]="['products']">Cancel</button>
        </div>
    </form>
</div>
